.boldred {
    color: red;
}

.bmc_collapse {
    display: none;
}

.emc_collapse {
    display: none;
}

.media-group {
    display: none;
}

.actor {
    color: red;
    font-weight: bold;
    margin-top: 5px;
}

.source {
    font-size: 0.8em;
}

.source0 {
    font-size: 0.8em;
}

.designation {
    color: red;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

p.mixed {
    text-align: center;
}

p.mixed > span > span {
    color: red;
    font-weight: bold;
    width: 100%;
}

.italics {
    font-style: italic;
}

.verse {
    font-style: italic;
}

.mode {
    color: red;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.versiondesignation {
    float: right;
    font-size: 0.6em;
}

p.hymn:first-letter {
    color: red;
    font-size: 1.2em;
    font-weight: normal;
}
